
.logo-krm {
    font-weight: 900;
    display: flex;
}

/* Header page end */


.section-base {
    width: 100%;
    height: 100vh;
    padding: 0rem 5rem;
    padding-top: 60px;
}
/* Section class end */

/* Biblioteca */


.div-text { /* Esta classe afeta todos os textos da segunda section da versão atual, todas que há um h2 e um p/article */
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.img-tabletop {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.box {
    display: flex;
    width: 300px;
    flex-direction: row;
    gap: 40px;
    margin: 4px;
    transform: scale(1);
    perspective: 100px;
}
.box:hover{
        z-index: 10;
        transform: scale(1.3);
}
.box,
.box img {
transition: all 250ms ease-out;
}

.img-tabletop img {
    border-radius: 1.25rem;
    
}

/* Profile */

.masters {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profiles {
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 40px
}

/* Card profile gabriel-default */

.profile-card {
    display: flex;
    width: 30rem;
    height: 40rem;
    padding: 2rem 2rem;
    justify-content: center;
    border: 10px solid #fff;
    border-radius: 2rem;
    background-image: url(/images/perfil-gabriel.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(0%);
}

.profile-card:hover {
    filter: saturate(80%);
    transition: 0.5s;
}

/* Card profile esther */

.profile-card-esther {
    display: flex;
    width: 30rem;
    height: 40rem;
    padding: 2rem 2rem;
    justify-content: center;
    border: 10px solid #fff;
    border-radius: 2rem;
    background-image: url(/images/perfil-esther.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(0%);
}

.profile-card-esther:hover {
    filter: saturate(80%);
    transition: 0.5s;
}

/* Card profile estamos-contatando */

.profile-card-none {
    display: flex;
    width: 30rem;
    height: 40rem;
    padding: 2rem 2rem;
    justify-content: center;
    border: 10px solid #fff;
    border-radius: 2rem;
    background-image: url(/images/perfil-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(0%);
}

.profile-card-none div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card-none:hover {
    filter: saturate(80%);
    transition: 0.5s;
}


/* Card profile */

.box-social {
    display: flex;
    height: 5rem;
    width: 100%;
    align-self: flex-end;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--social-color);
}

.box-social li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-social img {
    display: inline;
    width: 50%;
    height: 60%;
    color: #fff;
}

.profile-card p {
    position: absolute;
    top: 6rem;
    right: -3rem;
    transform: rotate(-90deg);
}

/* Game section */
.img-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2rem;
}

/* Game Description */

.game-description {
    display: flex;
    gap: 3rem;
}

.game-description article {
    font-size: 1.5rem;
}

.game-description ul {
    display: flex;
    gap: 20px
}

.game-description li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 10rem;
    gap: 1rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

.game-description li:hover {
    background-color: var(--color-orange-hover);
    transition: 0.5s;
}

.game-description img {
    width: 1.8rem;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}